@model TreeView.Models.CharacterType

@{
    ViewData["Title"] = "AddCharacter";
}

<h1>AddCharacter</h1>

<h4>CharacterType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCharacter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character_name" class="control-label"></label>
                <input asp-for="Character_name" class="form-control" />
                <span asp-validation-for="Character_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
